<img src="<%= user.get('img_src') %>" class="profile-pic">
<div id="user-profile-pic">
<h4 id="username-pic"><%= user.get('first_name')%> <%= user.get('last_name')%></h4>
	<input type="filepicker" data-fp-mimetype="image/*" name="user[img_src]"
	data-fp-button-text="Choose Image" data-fp-button-class="btn-default btn btn-primary" class="btn btn-primary" id="profile-pic-btn">
</div>
<div class="reviews"></div>
