<img src="<%= user.get('img_src') %>" class="profile-pic">
<h4><%= user.get('first_name')%> <%= user.get('last_name')%></h4>
<input type="filepicker" data-fp-mimetype="image/*" name="user[img_src]"
data-fp-button-text="Choose Image" data-fp-button-class="btn btn-default">
<h4>Reviews</h4>
<div class="reviews"></div>
