<form id="new-review-form">
	<label>Rating<input type="text" name="review[rating]" class="review_rating"></label><br>
	<label>Review</label><textarea name="review[content]" class="review_content"></textarea>
	<input type="hidden" name="review[business_id]" value="<%= this.business_id %>">
	<button id="review-submit">Submit</review>
</form>