<form id="new-review-form">
	<label>Rating<input type="text" name="review[rating]" id="review_rating"></label><br>
	<label>Review</label><textarea name="review[content]" id="review_content"></textarea>
	<button id="review-submit">Submit</review>
</form>