<form id="new-review-form">
	
	<div class="rateit">

	<input class="rating star-input" name="review[rating]" data-min=1 data-max=5 data-step=0.5>

	</div>
	<label>Review</label><textarea name="review[content]" class="review_content"></textarea>
	<input type="hidden" name="review[business_id]" value="<%= this.business_id %>">
	<button id="review-submit">Submit</review>
</form>