<ul class="list-group" id="review-list">
	<li class="list-group-item" id="review_item">
		 <input id="input-3" type="number" class="rating" value="<%= review.get("rating")  %>" readonly="true"><br><br>
		Review: <%= review.get("content") %><br>
		User:  <%= review.user().get("first_name") %>
	</li>

</ul>

