<ul class="list-group" id="review-list">
	<li class="list-group-item" id="review_item">
		Rating: <%= review.get("rating") %><br>
		Review: <%= review.get("content") %><br>
		User:  <%= review.user().get("first_name") %>
	</li>

</ul>

