<form class="inline-form" role="form" id="add-photo-form">
	<div class="form-group">
		<label>Caption<input type="text" class="form-control" name="photo[caption]" id="photo_caption"></label><br>
		<input type="filepicker" data-fp-mimetype="image/*" class="form-control" name="business[img_src]"
		data-fp-button-text="Add Photos" data-fp-button-class="btn-default btn btn-primary" class="btn btn-primary">
	</div>
</form>