<form id="new-photo">
	<input type="filepicker" data-fp-mimetype="image/*" name="business[img_src]"
	data-fp-button-text="Add Photos" data-fp-button-class="btn-default"><br>
	<label>Caption<input type="text" name="photo[caption]" id="photo_caption"></label>
</form>