<div class="biz-show">
	<h2 class="biz-name"><%= business.get("name") %></h2><br>
	<div id="rating"></div>
	Location: <%= business.get("location") %><br>
	Category: <%= business.get("category") %><br>
	Neigborhood: <%= business.get("neighborhood") %><br>
</div>
<br>
<div class="list-group" id="map-container">
		
	
	<div class="row">	
	<li class="list-group-item" id="map-photos"><div id="map-canvas" style="width:250px;height:250px;" class="thumbnail"></div>
		<div class="wrap">
			<div class="carousel-photos"></div>
			</div>
		</div>
		</li>
	</ul>
</div><br>
<div id="review-errors"></div>
<div class="reviews-form"></div>
<div class="photos-form"></div>
<h2 class="user-reviews">User Reviews</h2>
<div class="review-error">
<% if (_currentUserJSON === "null"){ %>
	<a href="session/new" class="sign-in-link">Please sign in to add photos and reviews</a>
<% }%>
</div>
<div class="reviews"></div>
<div class="near"></div>




