// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.biz-photo{
	margin:0 10px;
    text-align:center;
	display: inline-block;        
    padding:5px;
    margin:5px;
	border: 2px solid;
	border-radius: 5px;
}

#user-profile-pic{
	margin-left: 50px;
}

#profile-pic-btn{
	margin-left: 150px;
}

.biz-photo img{
	width: 250px;
	height: 250px;	
}

.carousel-photos{
	width: 600px;
	height: 400px;
	white-space: nowrap;
	overflow-x: auto;
    padding:5px 25px;
	position: relative;
}
.review-item{
	height: 100px;
	width: 100px;
}

#new-review-form{
	margin-left: 10%;
}

#add-photo-form{
	margin-left: 10%;
	white-space: nowrap;
}

.user-show-reviews{
	position: relative;
	top: -120px;
	display: inline;
}

.user-show-reviews div{
	display: inherit;
}
.wiz-biz {
	display: block;
	list-style-position: inside;
	margin-left: 25%;
	margin-right: 25%;
}
.rating-input{
	font-size: 25px;
}
.thumbnail img{
	
	height: 150px;
	width: 200px;
}

.user-review img{
	
	height: 75px;
	width: 75px;
}

.biz-show{
	margin-left: 10%;
}


.biz-show-pic img {
	display: inline;
	float: center;
	max-height: 350px;
	max-width: 350px;
}

#map-canvas {
	display: inline;
	float: left;
}

.user-review-list{
	display: inline-block;
	margin-left: 25%;
	margin-right: 10%;
	width: 70%;
}

.review-list{
	margin-left: 10%;
	margin-right: 10%;
	width: 70%;
}

#map-photo{
	margin-left: 10%;
	
}

#map-photos{
	height: 300px;
	
}

#map-container{
	width: 90%;
	margin-left: 10%;
}

#biz-main-page{
	position: absolute;
	top:125px;
	width: 65%;
}

#biz-main-page{
	margin-left: 25%;
	
}

#index-title{
	position: absolute;
	top:50px; left:50px;
	color: #961914;
	text-shadow: 1px 1px #f4de1b
}

#review-title{
	position: absolute;
	top:75px;
	margin-left: 25%;
}


.profile-pic{
	margin-left: 50px;
}

.biz-name{
	color: #961914;
	text-shadow: 1px 1px #f4de1b
}

#review-title{
	color: #961914;
	text-shadow: 1px 1px #f4de1b
}

.caption{
	float: right;
	width: 62%;
}

.user-reviews{
	margin-left: 10%;
}

.reviews-form{
	margin-left: 1%;
}
.sign-in-link{
	margin-left: 10%;
}

//div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
//div.rating-cancel,div.rating-cancel a{background:url(delete.gif) no-repeat 0 -16px}
//div.star-rating,div.star-rating a{background:url(star.gif) no-repeat 0 0px}
//div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
//div.star-rating-on a{background-position:0 -16px!important}
//div.star-rating-hover a{background-position:0 -32px}
///* Read Only CSS */
//div.star-rating-readonly a{cursor:default !important}
///* Partial Star CSS */
//div.star-rating{background:transparent!important;overflow:hidden!important}