div.carousel {
  height: 500px;
  width: 500px;
  margin: auto;
}

div.items {
  height: 100%;
  width: 500px;
  overflow: hidden;
  position: relative;
}

div.items :not(.active) {
  display: none;
}

.active {
  position: absolute;
  left: 0%;
  transition: left 500ms;
}

.active.right {
  left: 100%;
}

.active.left {
  left: -100%;
}