<nav class= "navbar navbar-default"role="navigation">
	
	<a class="navbar-brand" href="#">Expecto
		<!-- <img alt="Brand" src="http://createfunnylogo.com/logo/harrypotter/Expecto.jpg"
		width="200" height="50"> -->
	</a>
	
	<form class="navbar-form navbar-left" role="search">
	        <div class="form-group" id="bloodhound">
				<div id="the-basics">
	          <input type="text" class="typeahead" id="nav-search" placeholder="Search">
		  </div>
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
		  
	 	 <ul class="nav navbar-nav">
	 	<li><%= link_to 'Home', '#' %></li>
	 	<% if logged_in? %>
	 	<li><%= link_to 'Sign Out', session_url, method: :delete %></li>
	 	<li><%= link_to 'My Profile', "#/users/#{current_user.id}" %></li>
	 	<% else %>
	 	<li><%= link_to 'Sign In', new_session_url%></li>
	 	<% end %>
	 	</ul>
</nav>